@model SkillCow.Classes.Cloud.TableStorage.DirectClients.Employers.DirectEmployerClientCampusProgram

<fieldset>
    <legend>Caps</legend>
        
    <div class="editor-label">
        Caps by period
    </div>
    <div class="editor-field">
        <table width="400px">
            <tr>
                <th>Total</th>
                <th>Annual</th>
                <th>Monthly</th>
                <th>Weekly</th>
                <th>Daily</th>
            </tr>
            <tr>
                <td class="numberinput"><input type="text" name="TotalCap" value="@(Model != null ? Model.TotalCap.ToString() : "0")" /></td>
                <td class="numberinput"><input type="text" name="AnnualCap" value="@(Model != null ? Model.AnnualCap.ToString() : "0")" /></td>
                <td class="numberinput"><input type="text" name="MonthlyCap" value="@(Model != null ? Model.MonthlyCap.ToString() : "0")" /></td>
                <td class="numberinput"><input type="text" name="WeeklyCap" value="@(Model != null ? Model.WeeklyCap.ToString() : "0")" /></td>
                <td class="numberinput"><input type="text" name="DailyCap" value="@(Model != null ? Model.DailyCap.ToString() : "0")" /></td>
            </tr>
            <tr>
                <td colspan=5>
                    @Html.ValidationMessageFor(model => model.TotalCap)
                    @Html.ValidationMessageFor(model => model.AnnualCap)
                    @Html.ValidationMessageFor(model => model.MonthlyCap)
                    @Html.ValidationMessageFor(model => model.WeeklyCap)
                    @Html.ValidationMessageFor(model => model.DailyCap)
                </td>
            </tr>
        </table>
    </div>
</fieldset>