@model IEnumerable<SkillCow.Classes.Cloud.TableStorage.Thesaurus.ThesaurusEntry>

@{
    ViewBag.Title = "Similars";
    Layout = null;
}

<h2>Similars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            AddRemove
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Timestamp
        </th>
        <th>
            PartitionKey
        </th>
        <th>
            RowKey
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddRemove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartitionKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowKey)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
